
#photoGallery {
    width: 600px;
    height: 600px;
    position: relative;
    overflow: hidden;
}
#inner {
    width: 1800px;
    height: 600px;
    left: 0px;
    background-color: blue;
    position: absolute;
    transition: left 0.5s;
}
.block_div {
    width: 600px;
    height: 600px;
    float: left;
}
